.carousel-item {
    padding: 20px 40px;
}

.panda-bg-info {
    background-color: #FEEAE9;
}

.price {
    color: #FF136F;
}

.watch-bg-warning {
    background-color: #FF9C35;
}

.bag-bg-success {
    background-color: #FF589B;
}

.shoe-bg-primary {
    background-color: #4289FF;
}

.watch-bg-warning,
.bag-bg-success,
.shoe-bg-primary {
    padding: 10px 30px;
    border-radius: 10px;
}

.catagories img {
    width: 100px;
}

.catagories h1 {
    color: white;
    padding: 10px 30px;
}

.panda-btn {
    background-image: linear-gradient(to bottom, #FF589B, 0%, #ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer {
    background-color: white;
    border-top: none;
}

#subscribe {
    height: 300px;
}

#subscribe h6 {
    color: gray;
}

footer {
    text-align: center;
}